doctype html
html.no-js(lang='en-US')
	head
		meta(charset='utf-8')
		title What Should I Eat Today?

		// jQuery
		script(src="https://code.jquery.com/jquery-3.2.1.min.js",
					integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",
					crossorigin="anonymous")

		// Bootstrap
		// link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
			integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
		// script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
			integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')

		// Materialize
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js')

		// Axios
		script(src='https://unpkg.com/axios/dist/axios.min.js')

		// Vue
		script(src='https://unpkg.com/vue')

		link(rel='stylesheet', href='./main.css')

	body
		header
			.row
				img.responsive-img.col.sm12.m4(src='chef.jpg', height='200px')

				.col.sm12.m8
					h1 Hello there!
					p Ever had a hard time deciding where you want to eat? Let me help with that!
					p.
						Enter the first thing that comes to mind about food, and enter your location, and I'll tell you
						about the places I find!
					a#get-started.btn(@click='scrollToInput') Let's get started!

		main#app.container
			// div#intput.col.m4
			div#input
				h3 Search
				// Term
				.row.input-field.col.m12
					i.prefix.material-icons search
					label(for='search-term') I want
					input#search-term(type='text', :value='searchTerm', v-model='searchTerm', @keyup.enter='getOutput')

				// Location
				form.row.input-field.col.m12
					i.prefix.material-icons my_location
					input(name='location-group', type='radio', id='my-location', value='mine', v-model='locationPicked')
					label(for='my-location') My location {{ geolocation ? '(' + geolocation.coords.latitude + ', ' + geolocation.coords.longitude + ')' : '(calculating...)' }}
					input(name='location-group', type='radio', id='custom-location', value='custom', v-model='locationPicked')
					label(for='custom-location') Custom location

				.row.input-field.col.m12(v-if='locationPicked == "custom"')
					i.prefix.material-icons location_on
					label(for='location') I'm at
					input#location(type='text', :value='location', v-model='location')

				.input-field
					a.btn.waves-effect.waves-red(@click='getOutput') Search!

			// div#output(v-if='output.show').col.m8
			div#output(v-if='output.show')
				h3#results Results

				br(TODO)

				.row.card-panel.lighten-4.center(:class='output.success ? "green" : "red"'): h3
					| {{ output.message }}

				template(v-if='output.success')

					// List restaurants
					.row: div.business.card.col.s12.m6(v-for='business in output.results.businesses'
						itemscope, itemtype='http://schema.org/Restaurant',
						aria-label='Restaurant')

						// Image
						img.card-image.responsive-img.materialboxed.business-image(itemprop='image',
							:src='business.image_url',
							:data-caption='business.name')

						// .row
						.card-stacked: .card-content
							// Name
							.card-title.business-name.center(aria-label='Name')
								| #[span(itemprop='name') {{ business.name }}]
	
							// Rating, review count, price, categories
							div.col.s12.m6.center
								.business-rating(aria-label='Yelp rating')
									span.sr-only Rating: {{ business.rating.toPrecision(2) }}
									img(:src="business.rating | getStarsImage",
										:title='business.rating.toPrecision(2) + " star rating"')
	
								span.business-price-range(aria-label='Price range')
									| {{ business.price }} 
	
								span.business-review-count(aria-label='Number of reviews')
									| - {{ business.review_count }} reviews
	
								.business-catagories(aria-label='Categories')
									.chip(v-for='category in business.categories')
										span(itemprop='servesCuisine') {{ category.title }}
								
								// TODO: transactions
								// TODO: is_closed
								// TODO: distance
	
							// Location, phone
							div.col.s12.m6
								.business-address(aria-label='Address')
									span.sr-only Address:
									address.hide
										span(itemprop='streetAddress')
											| {{ business.location.address1 }}
											template(v-if='business.location.address2') #[br] {{ business.location.address2 }}
											template(v-if='business.location.address3') #[br] {{ business.location.address3 }}
										span(itemprop='locality') {{ business.location.city }}
										span(itemprop='region') {{ business.location.state }}
										span(itemprop='postalCode') {{ business.location.zip_code }}
									address(itemprop='address')
										template(v-for='address in business.location.display_address') #[br] {{ address }}
	
								.business-phone(aria-label='Phone number')
									span.sr-only Phone number:
									span(itemprop='telephone') #[a(:href='"tel:" + business.phone') {{ business.display_phone }}]
			
								// .business-coordinates(itemprop='geo', aria-label='Coordinates')
									| Coordinates: 
									| (#[span(itemprop='geo.lattitude') {{ business.coordinates.latitude }}], 
									| #[span(itemprop='geo.longitude') {{ business.coordinates.longitude }}])
	
							// Yelp
							div.center
								.business-yelp-review(aria-label='Link to Yelp review')
									a(itemprop='url', :href='business.url')
										span.hide Link to Yelp review
										img(src='yelp_logo/yelp_logo_outline.png', width='130px')
		
						// .row.col.m12
							p Raw data
							ul: li(v-for='(prop, propName) in business') {{ propName }}: {{ prop }}

		footer: .footer-copyright
			.center.muted Made by Kyle Feng
			.center.muted Powered by #[a(href='https://www.yelp.com/developers') Yelp's Fusion API]
			.center.muted Images courtesy of #[a(href='http://www.freepik.com/free-vector/small-chef-illustration_800609.htm') Freepik]

		script(src='./babel-polyfill.min.js')
		script(src='./main.js')
